{
  "extends": ["eslint-config-bitsy"],
  "rules": {
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "max-params": "off",
    "no-plusplus": "off",
    "complexity": "off"
  }
}
